        /* body {
            font-family: Arial, sans-serif;
            background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-computer-bank-card-blue-background-global-purchase-image_19034.jpg");
            padding: 20px;
        }

        h2 {
            color: #ffffff;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: inline-block;
            width: 200px;
            margin-bottom: 10px;
            color: #333;
        }

        input[type="text"],
        select,
        textarea {
            width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="file"] {
            margin-top: 5px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        } */

        .flex-container {
            display: flex;
            background-color: DodgerBlue;
          }
          
          .flex-container > div {
            background-color: #f1f1f1;
            margin: 50px;
            padding: 200px;
            font-size: 300px;
          }